<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <title>Quang Việt Computer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../assets/base.css">
    <link rel="stylesheet" href="./computer.css">
</head>

<body>
    <div class="box">
        <header class="header">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-xxl">
                        <a class="navbar-brand" href="./index.html">
                            <img src="../../assets/image/logo.png" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item ">
                                    <a class="nav-link " aria-current="page" href="../Home/index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active" href="./computer.html">Computer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../Camera/camera.html">Camera</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i>Giỏ Hàng</a>
                                </li>
                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit"> <i
                                        class="fa fa-search"></i></button>
                                <button class="btn btn-outline-success " type="submit"> Login</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container-fluid body">
            <div class="container-lg body-box">
                <h2 class="list_title">Sản Phẩm Computer Nổi bật</h2>
                <div>
                    <img src="./img_index/sider.jpg" alt="">
                </div>

                <div class="container">
                    <h2 class="text-center mt-4 mb-4">Laptop</h2>
                    <div class="row">

                        <!-- Mục 1 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid " src="../../component/Camera/img_camera/c6n.jpg"
                                    alt="C6N">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">C6N - EZVIZ</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">Đánh giá: ★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 2 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/A42.jpg"
                                    alt="A42">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">A42 - IMOU</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 3 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/c3tn.jpg"
                                    alt="C3TN">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">C3TN - EZVIZ</div>
                                    <div class="product-price">1.100.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 4 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/h1c.jpg"
                                    alt="H1C">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">H1C - IMOU</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 5 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/h1c.jpg"
                                    alt="H1C">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">H1C - IMOU</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h2 class="text-center mt-4 mb-4">PC - Gamming</h2>
                    <div class="row">

                        <!-- Mục 1 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid " src="../../component/Camera/img_camera/c6n.jpg"
                                    alt="C6N">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">C6N - EZVIZ</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">Đánh giá:  ★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 2 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/A42.jpg"
                                    alt="A42">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">A42 - IMOU</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 3 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/c3tn.jpg"
                                    alt="C3TN">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">C3TN - EZVIZ</div>
                                    <div class="product-price">1.100.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 4 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/h1c.jpg"
                                    alt="H1C">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">H1C - IMOU</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 5 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/h1c.jpg"
                                    alt="H1C">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">H1C - IMOU</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h2 class="text-center mt-4 mb-4">Máy tính văn phòng</h2>
                    <div class="row">

                        <!-- Mục 1 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid " src="../../component/Camera/img_camera/c6n.jpg"
                                    alt="C6N">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">C6N - EZVIZ</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">Đánh giá: ★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 2 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/A42.jpg"
                                    alt="A42">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">A42 - IMOU</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 3 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/c3tn.jpg"
                                    alt="C3TN">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">C3TN - EZVIZ</div>
                                    <div class="product-price">1.100.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 4 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/h1c.jpg"
                                    alt="H1C">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">H1C - IMOU</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- Mục 5 -->
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top img-fluid" src="../../component/Camera/img_camera/h1c.jpg"
                                    alt="H1C">
                                <div class="card-body  d-flex flex-column align-items-center justify-content-center">
                                    <div class="product-title">H1C - IMOU</div>
                                    <div class="product-price">600.000đ</div>
                                    <div class="product-rating">★★★★☆</div>
                                </div>
                                <div class="product-actions">
                                    <button class="btn btn-success btn-sm">Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <footer class=" footer text-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 justify-content-center ">
                    <ul class="list-unstyled custom-list ">
                        <li>
                            <img src="../../assets/image/ico-fb.png" alt="">
                            <a href="#"></a>
                        </li>
                        <li>
                            <img src="../../assets/image/ico-instagram.png" alt="">
                            <a href="#"></a>
                        </li>
                        <li>
                            <img src="../../assets/image/ico-tiktok.png" alt="">
                            <a href="#"></a>
                        </li>
                        <li>
                            <img src="../../assets/image/ico-youtube.png" alt="">
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <h4>Công ty TNHH Quang Việt Computer</h4>
                    <p>Số GCNĐKDN: 0100774342</p>
                    <p>Cấp lần đầu: Ngày 22/09/2008</p>
                    <p>Đăng ký thay đổi lần thứ 10: Ngày 27/03/2020</p>
                    <p>Cơ quan cấp: Sở kế hoạch và đầu tư TP Hà Nội</p>
                </div>

                <div class="col-md-4">
                    <h4>Liên hệ</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i> Trụ sở chính: Cần kiệm , Thạch thất , Hà Nội</li>
                        <li><i class="fa fa-phone"></i> 0961416261</li>
                        <li><i class="fa fa-envelope"></i> quangviet@egmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <p>&copy; 2024 Công ty TNHH Quang Viet Computer. Đã đăng ký bản quyền.</p>
        </div>
    </footer>
</body>

</html>